# MySQL Database Configuration
# Sur la machine locale : localhost
# Sur Vercel : IP publique / hostname de la machine locale
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=mflscout
DB_PORT=3306

# MFL API Base URL
MFL_API_URL=https://z519wdyajg.execute-api.us-east-1.amazonaws.com/prod
