# Database Configuration (TiDB Cloud ou MySQL local)
DB_HOST=gateway01.eu-central-1.prod.aws.tidbcloud.com
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=test
DB_PORT=4000

# MFL API Base URL
MFL_API_URL=https://z519wdyajg.execute-api.us-east-1.amazonaws.com/prod
